<div class="no-questions">
  <img src="/images/noquestions.svg" alt="Sem Pergutas">
  <p>Nenhuma Pergunta por aqui...</p>
  <p>Faça sua primeira pergunta e envie o <br> código dessa sala para outras pessoas</p>
</div>